html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background: rgb(245, 245, 245);
}

html {
    box-sizing: border-box;
    overflow-x: hidden
}

* {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html,
body {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:hover {
    color: inherit;
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
}


/* Extra small devices (phones, 0px to 550px) */

@media only screen and (max-width: 550px) {
    /* navbar */
    .navbarch {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
    .navlogoch {
        width: 50%;
        padding-left: 1rem;
    }
    .navlogoch img {
        height: 2rem;
    }
    .navsearchch {
        width: 50%;
        text-align: end;
        padding-right: 1.7rem;
    }
    .navsearchch img {
        height: 1.2rem;
    }
    .navtabch {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    .navtabsubch {
        width: 20%;
        padding: 0.7rem 0.7rem;
        text-align: center;
        margin-top: 0.5rem;
        border-bottom: 1px solid rgb(245, 245, 245);
    }
    .navtabsubch:hover {
        border-bottom: 2px solid #E41D24;
    }
    .navtabch img {
        height: 1.6rem;
    }
    .profimgch {
        height: 2.1rem;
        width: 2.1rem;
        text-align: center;
        border-radius: 50%;
        margin-right: 0.7rem;
        margin-top: -3px;
    }
    .profimgch img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.733);
    }
    /* create post */
    .postcreatech-c {
        background-color: white;
        display: flex;
        padding: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .postcreatech {
        border: 1px solid rgb(221, 220, 220);
        border-radius: 5px;
        width: 100%;
        padding: 0.8rem;
        text-align: center;
    }
    .postcreatech p {
        font-size: 14px;
        color: #222222;
        margin-bottom: 0px;
    }
    /* all posts */
    .postsch {
        width: 100%;
    }
    .postch {
        background-color: white;
        padding-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .posttopch {
        display: flex;
        padding-left: 1rem;
    }
    .pprofimgch {
        height: 2.1rem;
        width: 2.1rem;
        text-align: center;
        border-radius: 50%;
        margin-right: 0.7rem;
    }
    .pprofimgch img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        border: 2px solid #E41D24;
    }
    .postmidch {
        width: 100%;
    }
    .postmidch img {
        width: 100%;
    }
    .ppoption img {
        height: 1.2rem;
        margin-top: 5px;
    }
    .postoptionch {
        display: flex;
        padding-left: 0.7rem;
    }
    .ppoption p {
        font-size: 25px;
        margin-bottom: 0px;
        margin-right: 7px;
        margin-top: -2px;
    }
    .ppoption p:hover {
        color: #E41D24;
    }
    .pprofnamech p {
        font-size: 14px;
        font-weight: 600;
        margin-top: 4px;
    }
}


/* Medium devices (landscape tablets, 550px to 850) */

@media only screen and (min-width: 550px) and (max-width: 991px) {}


/* Large devices (Desktop, 850px and up) */

@media only screen and (min-width: 992px) {}