html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    background: rgb(245, 245, 245);
}

html {
    box-sizing: border-box;
    overflow-x: hidden
}

* {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html,
body {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    /* blue colors for links too */
    text-decoration: inherit;
    /* no underline */
}

a:hover {
    color: inherit;
    text-decoration: none;
}

hr {
    margin: 0;
    padding: 0;
}


/* Extra small devices (phones, 0px to 550px) */

@media only screen and (max-width: 550px) {
    /* navbar */
    .navbarch {
        width: 100%;
        background-color: rgb(255, 255, 255);
        display: flex;
        flex-wrap: wrap;
        padding-top: 1rem;
    }
    .navlogoch {
        width: 50%;
        padding-left: 1rem;
    }
    .navlogoch img {
        height: 2rem;
    }
    .navsearchch {
        width: 50%;
        text-align: end;
        padding-right: 1.7rem;
    }
    .navsearchch img {
        height: 1.2rem;
    }
    .navtabch {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: white;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
    }
    .navtabsubch {
        width: 20%;
        padding: 0.7rem 0.7rem;
        text-align: center;
        margin-top: 0.5rem;
        border-bottom: 1px solid rgb(245, 245, 245);
    }
    .navtabsubch:hover {
        border-bottom: 2px solid #E41D24;
    }
    .navtabch img {
        height: 1.6rem;
    }
    .profimgch {
        height: 2.1rem;
        width: 2.1rem;
        text-align: center;
        border-radius: 50%;
        margin-right: 0.7rem;
        margin-top: -3px;
    }
    .profimgch img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.733);
    }
    /* create post */
    .postcreatech-c {
        background-color: white;
        display: flex;
        padding: 0.7rem;
        margin-bottom: 0.5rem;
    }
    .postcreatech {
        border: 1px solid rgb(221, 220, 220);
        border-radius: 5px;
        width: 100%;
        padding: 0.8rem;
        text-align: center;
    }
    .postcreatech p {
        font-size: 14px;
        color: #222222;
        margin-bottom: 0px;
    }
    /* all posts */
    .postsch {
        width: 100%;
    }
    .postch {
        background-color: white;
        padding-top: 1rem;
        margin-bottom: 0.5rem;
    }
    .posttopch {
        display: flex;
        padding-left: 1rem;
        justify-content: space-between;
    }
    .posttopch-c {
        display: flex;
    }
    .pprofimgch {
        height: 2.2rem;
        width: 2.2rem;
        text-align: center;
        border-radius: 50%;
        margin-right: 0.7rem;
    }
    .pprofimgch img {
        height: 2.2rem;
        width: 2.2rem;
        border-radius: 50%;
        border: 2px solid #E41D24;
    }
    .followuser button {
        font-size: 14px;
        padding: 3px;
        margin-right: 1rem;
    }
    .postmidchimg {
        width: 100%;
    }
    .postmidchimg img {
        width: 100%;
    }
    .postmidchtxt {
        padding: 1.7rem;
        background-color: rgb(233, 233, 233);
    }
    .postmidchtxt p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .ppoption {
        padding-bottom: 8px;
    }
    .ppoption img {
        height: 20px;
        margin-top: 6px;
        margin-right: 6px;
    }
    .postoptionch {
        display: flex;
        padding-left: 0.7rem;
    }
    .pprofnamech p {
        font-size: 14px;
        font-weight: 600;
        margin-top: 4px;
    }
    /* post create sliding div */
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 1;
        bottom: 0;
        left: 0;
        background-color: white;
        overflow-y: hidden;
        transition: 0.3s;
    }
    .overlay a {
        text-decoration: none;
        color: #222222;
        display: block;
        transition: 0.3s;
    }
    .overlay .closebtn {
        font-size: 25px;
        left: 1rem;
        top: -10px;
    }
    .overlay-top-section {
        display: flex;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgb(216, 216, 216);
        padding-left: 0.8rem;
        padding-top: 0.3rem;
        height: 9%;
    }
    .overlay-top-section button {
        font-size: 14px;
        background-color: #E41D24;
        border-radius: 3px;
        color: white;
        width: 4rem;
        padding-top: 4px;
        padding-bottom: 4px;
        right: 0.7rem;
        margin-top: 5px;
        position: absolute;
    }
    .overlay-top-section button:hover {
        background-color: #e41d24d0;
        color: white;
    }
    .createpost-txt .form-control {
        padding: 1rem;
        color: #222222;
        font-size: 15px;
        border: none;
        margin: 3%;
        width: 94%;
        text-align: start;
        z-index: 4;
    }
    .createpost-attach {
        width: 100%;
        height: 9%;
        position: absolute;
        bottom: 0px;
        border-top: 1px solid rgb(216, 216, 216);
        padding: 0.8rem;
        z-index: 100;
    }
    .createpost-attach {
        display: flex;
        justify-content: space-between;
    }
    .item-attach p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .item-attach1 {
        display: flex;
    }
    .item-attach1 .itemat img {
        height: 1.4rem;
        margin-left: 8px;
    }
    .item-attach1 .itemat1 img {
        height: 1.6rem;
    }
}


/* Medium devices (landscape tablets, 550px to 850) */

@media only screen and (min-width: 550px) and (max-width: 991px) {}


/* Large devices (Desktop, 850px and up) */

@media only screen and (min-width: 992px) {}